.box {
  border: 2px solid var(--dark-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxHeader {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
